*{
    background-color: black;
    
}
h1{
    text-transform: uppercase;
  font-size: 190%;
  color: rgba(243, 233, 57, 0.991);
  font-weight: 900;
}
.main{
    border: 5px outset gold;
    width: 100%;
}
#first{
    width: 50%;
    margin-left: 25%;
    margin-top: 50%;
    margin-bottom: 50%;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-size: 90%;
}
hr{
border: 2px outset gold;
}